{{!< default}}

{{#post}}
  <div class="beige-solid">
    <div class="container">
      <div class="sixteen columns">
        {{#if image}}
          <div class="center add-top add-bottom">
        {{else}}
          <div class="center double-top add-bottom add-more-bottom">
        {{/if}}

          <h1 class="post-title helvetica purple-font"><strong>{{{title}}}</strong></h1>

          <div class="small">
            Posted <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMM DD YYYY'}}</time>
          </div>

          <div class="half-top">
            <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
               onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
               onclick="window.open(this.href, 'facebook-share', 'width=580,height=296');return false;">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://plus.google.com/share?url={{url absolute="true"}}"
               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <i class="fa fa-google-plus-square"></i>
            </a>
          </div>
          
          {{#if image}}
            <div class="add-top">
              <img src="{{image}}" class="scale"/>
            </div>
          {{/if}}

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="sixteen columns">

      <div class="post add-top">
        {{content}}
      </div>
  
      <hr style="margin-bottom:5px"/>
      <div class="post post-foot">
        <div>
          <!--{{#if tags}}<code class="tag">{{tags separator="</code> <code class=\"tag\">"}}</code>{{/if}}-->
          {{#if tags}}Categories: {{tags separator=", "}}{{/if}}
        </div>
      </div>
    </div>
  </div>    
{{/post}}
